/*  your css code here. If applicable */
#container {
  margin: 20px;
  font-size: 18px;
  position: relative;
}

/* Pseudo-element BEFORE */
#container::before {
  content: "Before Element";
  color: #f00;
  font-size: 20px;
}

/* Pseudo-element AFTER */
#container::after {
  content: " After Element";
  color: #f00;
  font-size: 20px;
}
